// css.lint.vendorPrefix: ignore
@import '../../app/variables';
.getStarted {
  // width: 100vw;
  // height: 140vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
  color: white;
  margin-bottom: 250px;
  background-color: rgb(35, 33, 33);

  @include mobile {
    margin-bottom: 200px;
  }
  @include mini {
    margin-bottom: 125px;
  }
  .getStarted-tagline {
    color: white;
    font-weight: normal;
    max-width: 830px;
    text-align: center;
    word-spacing: 0.1cm;
    margin-bottom: 0;
    @include pad {
      font-size: 24px;
      width: 75%;
    }
    @include mini {
      text-align: left;
      font-size: 20px;
    }
    span {
      font-size: 32px;
      color: $mainColor;
      @include pad {
        font-size: 24px;
      }
      @include mini {
        padding-left: 0;
        font-size: 20px;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    @include large {
      gap: 60px;
    }
    @include medium {
      gap: 75px;
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mini {
      gap: 50px;
    }
  }
  .card-step {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    span {
      font-size: 50px;
      color: $mainColor;
      font-weight: bold;
      @include medium {
        font-size: 38px;
      }
      @include mini {
        font-size: 30px;
      }
    }
    @include medium {
      font-size: 38px;
    }
    @include mini {
      font-size: 30px;
    }
  }
  .card {
    // background-color: #353539;
    // background-color: #38383c;
    // background-color: cyan;
    box-shadow: 2px 4px 15px rgb(40, 40, 40);
    border: 4px solid cyan;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 432.375px;
    height: 240px;
    @include large {
      padding: 20px;
      max-width: 420px;
    }
    @include medium {
      max-width: 340px;
      height: 280px;
      border: 2px solid cyan;
    }

    @include pad {
      max-width: 270px;
    }
    @include mobile {
      max-width: 80%;
      margin: 0 auto;
      justify-content: flex-start;
      height: 240px;
    }
    @include mini {
      max-width: 70%;
      height: 300px;
    }
  }

  .card-one {
    border: 4px solid rgb(1, 103, 114);
    box-shadow: 4px 4px 10px $mainColor;
    background-color: rgb(1, 103, 114);
    // color: black;
    p {
      color: white;
    }
  }
  h1 {
    font-weight: bold;
    // font-size: 48px;
    font-size: 72px;
    margin-bottom: 0;
    margin-top: 100px;
    background-image: linear-gradient(45deg, $mainColor, white 80%);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @include mobile {
      font-size: 48px;
      margin-top: 250px;
    }
    @include mini {
      margin-top: 125px;
      font-size: 42px;
    }
  }
  p {
    margin-top: 0;
    font-size: 32px;
    color: rgb(1, 103, 114);
    font-weight: bold;
    @include mobile {
      margin-bottom: 30px;
    }
  }
  .desc {
    text-align: center;
    line-height: 0.8cm;
    @include mobile {
      width: 90%;
      margin-bottom: 20px;
    }
    @include mini {
      width: 95%;
    }
  }
  span {
    color: $secondaryColor;
    font-size: 18px;
    font-weight: 400;
    @include mobile {
      padding-left: 10px;
    }
  }
  .code {
    width: 90%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px $mainColor solid;
    padding: 20px 30px;
    margin-top: 15px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgb(199, 194, 200)
    );
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal;
    letter-spacing: 0.01cm;
    @include large {
      padding: 20px 15px;
      width: 95%;
    }
    @include mobile {
      width: 70%;
      height: 10px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mini {
      width: 85%;
    }
    img {
      position: absolute;
      right: 10px;
      top: 15px;
      cursor: pointer;
      @include mobile {
        right: 0px;
      }
      @include mini {
        right: 8px;
      }
    }
  }
}
