@import '../../app/variables';

.demo {
  transform: skewY(-6deg);
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  background-color: rgb(1, 103, 114);
  @include pad {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  @include mobile {
    margin: 200px 0px;
    gap: 0px;
  }
  @include mini {
    margin: 20px 0 70px;
  }
  h1 {
    transform: skewY(6deg);
    margin-bottom: 150px;
    text-align: center;
    font-size: 72px;
    color: white;
    span {
      color: black;
    }
    @include medium {
      font-size: 60px;
    }
    @include pad {
      font-size: 50px;
    }
    @include mobile {
      font-size: 55px;
      max-width: 400px;
      padding-left: 12%;
      text-align: left;
    }
    @include mini {
      font-size: 45px;
      margin-bottom: 100px;
      text-align: left;
      padding-left: 7%;
    }
  }
  .demo1 {
    display: flex;
    transform: skewY(6deg);
    justify-content: center;
    gap: 100px;
    margin-bottom: 200px;
    @media (max-width: 1200px) {
      gap: 70px;
    }
    @include pad {
      margin: 0 15% 75px 15%;
      gap: unset;
    }
    @include mobile {
      margin: 0 12% 75px 12%;
    }
    @include mini {
      margin: 0 7% 50px 7%;
    }

    .gif1 {
      img {
        border-radius: 10px;
        border: 2px solid $mainColor;
        box-shadow: 4px 4px 10px $mainColor;
        @include large {
          width: 500px;
          height: 350px;
        }
        @include medium {
          width: 425px;
          height: 280px;
        }
        @include pad {
          display: none;
        }
        @include mobile {
          display: none;
        }
        @include mini {
          display: none;
        }
      }
    }

    .gif-pad img {
      display: none;
      @include pad {
        display: block;
        border-radius: 10px;
        border: 2px solid $mainColor;
        box-shadow: 4px 4px 10px $mainColor;
        width: 600px;
        height: 420px;
      }
      @include mobile {
        display: block;
        border-radius: 10px;
        border: 2px solid $mainColor;
        box-shadow: 4px 4px 10px $mainColor;
        width: 400px;
        height: 270px;
      }
      @include mini {
        width: 95%;
        height: 70%;
      }
    }

    .desc {
      max-width: 500px;
      @include large {
        max-width: 450px;
      }
      @include medium {
        max-width: 415px;
      }
      @include pad {
        max-width: 600px;
      }

      h2 {
        font-weight: 600;
        font-size: 60px;
        line-height: 1.1;
        margin-top: 0;
        background-image: linear-gradient(
          to bottom right,
          rgb(3, 251, 242) 15%,
          $mainColor,
          white 70%
        );
        background-size: 100%;
        background-clip: border-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        @include large {
          font-size: 50px;
        }
        @include pad {
          max-width: 415px;
        }
        @include mobile {
          font-size: 40px;
          margin-bottom: 25px;
        }
        @include mini {
          font-size: 36px;
        }
      }
      h3 {
        font-size: 22px;
        font-weight: 500;
        color: white;
        line-height: 1.4;
        @include pad {
          max-width: 90%;
          margin: 40px 0;
        }
        @include mini {
          font-size: 20px;
          max-width: 95%;
        }
        span {
          color: $mainColor;
        }
      }
      .desc-black {
        font-size: 22px;
        font-weight: 500;
        color: black;
        @include mini {
          font-size: 20px;
        }
      }
      color: white;
      color: $mainColor;
      font-weight: normal;
      font-size: 30px;
      @include mobile {
        width: 100%;
        height: min-content;
        line-height: 0.5cm;
      }
    }
  }
}
