$mainColor: #00ffff;
$secondaryColor: azure;
$bgGradient: linear-gradient(top to bottom, black, grey);
$mainBg: rgba(135, 136, 148, 1);
$mainGradient: linear-gradient(0deg, #3d3d43, rgba(1, 1, 1, 1));
// $barBg: rgba(1, 1, 1, 0.3);
$barGr: linear-gradient(180deg, #3d3d43, #010101);
$h1Gr: linear-gradient(180deg, #00ffff, #868f8f);
$bgColor: #3d3d43;

$width: 768px;
@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
