@import '../../app/variables';

.navbar {
  position: fixed;
  z-index: 10;
  height: 70px;
  width: auto;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $barGr;
  position: relative;
  &.active {
    .burgerIcon {
      display: none;
    }
  }
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .burger {
    display: none;
    color: $mainColor;
    position: absolute;
    border: 1px solid $mainColor;
    right: 10px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    top: 0;
    width: 90px;
    gap: 10px;
    color: $mainColor;
    padding: 5px 20px;
    border-radius: 5px;
    a,
    a:visited {
      color: $mainColor;
      text-decoration: none;
    }
    &.false {
      display: none;
    }
    &.active {
      @include mobile {
        right: 0px;
        top: 10px;
      }
    }
  }
  .burgerIcon {
    display: flex;
    @include mobile {
      margin-right: 60px;
    }
  }

  .logo {
    margin-left: 50px;
    cursor: pointer;
    flex: 8 1 auto;
  }
  .options {
    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
    a,
    a:visited {
      width: 100%;
      color: $mainColor;
      text-decoration: none;
      width: 90px;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    .menus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10;
      .startNav {
        margin-right: 20px;
      }
    }
    .logos {
      img {
        margin: 0 20px;
      }
    }
    flex: 1 1 auto;
  }
}
