@import '../../app/variables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  @include mini {
    height: 70px;
  }
  .burger-img {
    display: none;
    @include mobile {
      display: flex;
      margin-right: 0;
    }
  }
  &.active {
    .burgerIcon {
      display: flex;
    }
  }
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .burger {
    display: none;
    color: $mainColor;
    position: absolute;
    border: 1px solid $mainColor;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    top: 0;
    width: 90px;
    gap: 10px;
    color: $mainColor;
    padding: 5px 20px;
    border-radius: 5px;

    @include mobile {
      display: flex;
    }
    a,
    a:visited {
      color: $mainColor;
      text-decoration: none;
      @include mobile {
        color: black;
        font-size: 16px;
        gap: 20px;
      }
    }
    &.false {
      display: none;
    }
    &.active {
      @include mobile {
        display: flex;
        right: 0px;
        top: 70px;
        height: fit-content;
        background-color: $mainColor;
      }
    }
  }

  .logo {
    cursor: pointer;
    flex: 8 1 auto;
    Image {
      @include mini {
        height: 22px;
        width: 22px;
      }
    }
  }
  .options {
    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
    a,
    a:visited {
      color: $mainColor;
      text-decoration: none;
      margin-right: 40px;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10;
    }
    flex: 1 1 auto;
  }
}
