@import '../../app/variables';

.footer {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: $secondaryColor;
  color: $mainColor;
  h2 {
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 32px;
    color: $secondaryColor;
    color: $mainColor;
  }
  .github {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
    img {
      border-radius: 5px;
      background-color: $secondaryColor;
    }
    .person {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      span {
        font-weight: normal;
        font-size: 18px;
      }
      .buttons {
        display: flex;
        gap: 10px;
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin-bottom: 15px;
    font-size: 14px;
    @include mobile {
      padding: 20px 0px;
      width: 80%;
      top: 0px;
      position: relative;
    }
  }
}
